In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('Salary_Data.csv')
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [4]:
Q2=data['Salary'].quantile(.5)

In [5]:
def salary(x):
    if x < Q2:
        x = 'low'
    else:
        x = 'high'
    return x

In [6]:
data['Salary']=data['Salary'].map(salary)

In [7]:
data['Salary'].unique()

array(['low', 'high'], dtype=object)

In [8]:
data['Salary']=data['Salary'].map({
    'low':0,
    'high':1
})

In [9]:
x=data.drop(columns='Salary')
y=data['Salary']

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

In [11]:
from sklearn.naive_bayes import GaussianNB
naive_bayes = GaussianNB()
naive_bayes.fit(x_train, y_train)
y_pred = naive_bayes.predict(x_test)

In [12]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.75      1.00      0.86         3
           1       1.00      0.83      0.91         6

    accuracy                           0.89         9
   macro avg       0.88      0.92      0.88         9
weighted avg       0.92      0.89      0.89         9

In [13]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

[[3 0]
 [1 5]]